[2017-09-20 00:54] hputnam opened #1 "Lab Supplies Request"
- A ruler and/or a measuring or transect tape
- A scale
- Stationary supplies (sharpies, tape, pens)

[2017-09-21 13:30] hputnam opened #2 "Test New Lab Dissecting scopes"
* Label each scope
* use scale to take images and test quality (e.g., bulges in image at edge cause issue for size measurement)
* Summarize any issues or missing pieces by scope number
* check all light sources
* recommend best scope(s) for image analysis
* mark issues with tape

[2017-09-21 15:40] kevinhwong1 commented on #2
Is the phone on the microscope the "lab camera"? If so, what is the passcode?

[2017-09-27 01:24] hputnam opened #3 "Astrangia Poster for GSO 10/14"
Create poster of Astrangia and tropical coral research for outreach event.

Find place to get poster printed (preferably on canvas or as a waterproof banner).

Find out cost and turn around time for printing.
Check this out https://www.uprinting.com/vinyl-banner.html
Check out necessary file formats in case we need to design in illustrator

Also look into size necessary to cover the front of a gen

[2017-09-27 14:20] hputnam opened #4 "Getting Up to Speed on URI Diving"
procedures for local and international diving through URI

New diver procedures

Ongoing and new dive plan procedures with timelines prior to trip

[2017-10-16 20:32] #3 closed

[2017-10-16 20:34] kevinhwong1 opened #5 "Problems with connecting the edited repository to the online git notebook"
- git push origin master ## updating changed files to the git repository
- git status ## ensure that files are synced
The following link "https://kevinhwong1.github.io/KevinHWong_Notebook" does not work
--> Error 404
- Checked manually on the online repository and the changes are present

Problem: how to make the link (web page) active from a forked repository

[2017-10-16 20:55] hputnam commented on #5
Please describe the problems in a reproducible way so that we can trouble shoot. For example, include a description of what commands are you running and what works or doesn't.,

[2017-10-18 20:12] hputnam commented on #2
@kevinhwong1 can you confirm and summarize findings?

[2017-10-18 20:13] hputnam opened #6 "Lab Notebook Database"
make a md file for our lab notebook database

[2017-10-20 18:20] kevinhwong1 commented on #2
- Label each scope
**All scopes are labeled on the side MC #1-#3**
- Use scale to take images and test quality (e.g., bulges in image at edge cause issue for size measurement)
**MC#1 has a variance of 9%, MC #3 has a variance of %4**
- Summarize any issues or missing pieces by scope number
**We are missing one light, MC#1 needs a plexiglass bottom, MC#1 seems to have curved edges (hence the large

[2017-10-23 17:45] hputnam commented on #5
try editing your baseurl as follows in the _config.yml file

baseurl: ""

Check out https://github.com/Putnam-Lab/putnam-lab.github.io/blob/master/_config.yml for successful fork of my lab notebook with website https://putnam-lab.github.io/

[2017-11-07 02:52] hputnam commented on #5
After config is changed, you need to go into settings on github repo online page and activate master branch as website.

[2017-11-07 02:52] #5 closed

[2017-11-07 02:53] hputnam commented on #2
Thanks @kevinhwong1

[2017-11-07 02:53] #2 closed

[2017-11-07 02:54] hputnam commented on #6
@kevinhwong1 can you give an update on this? We will need a md file with lab number, personnel, general project contents, start date, end date, electronic archival file name and location.

[2017-11-07 02:56] hputnam opened #7 "Inventory Lab Equipment"
Please document all serial numbers on all eppendorf equipment in the lab. Please make an equipment database with Equipment ID, Vendor, Purchase Date, Serial Number, PI Contact

[2018-02-02 15:46] kevinhwong1 commented on #6
Please refer to:
https://github.com/Putnam-Lab/Lab_Management/blob/master/Laboratory_Notebooks/Notebook_database.md

[2021-01-11 17:33] hputnam commented on #6
@kevinhwong1 can you please fix this link

[2021-01-11 18:37] AHuffmyer opened #8 "Subscribe to Lab Management notifications in Putnam Lab slack"

[2021-01-11 18:38] #8 closed

[2021-01-11 21:13] kevinhwong1 commented on #6
fixed!

https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resourses/Laboratory_Notebooks/Notebook_database.md

[2021-01-11 21:13] #6 closed

[2021-01-22 17:53] hputnam opened #9 "Loading and manipulating data from multiple Hobo Loggers"
@daniellembecker @emmastrand please move the answer to this here from slack.

[2021-01-22 17:56] daniellembecker commented on #9
[HOBO.temp.R.docx](https://github.com/Putnam-Lab/Lab_Management/files/5857668/HOBO.temp.R.docx)

[2021-01-22 17:57] daniellembecker commented on #9
From @emmastrand: suggestions on loading in and editing multiple CSV files at once? I have 12 hobo logger files I want to load and make the same edits to.

I’ve got hobo_files <- list.files("Environmental_data/Temp_Hobo_Loggers", pattern = "*.csv")  working but then trying to use read.csv and a for loop but getting stuck

[2021-01-22 17:58] daniellembecker commented on #9
Code for combining HOBO logger data

[HOBO.temp.R.docx](https://github.com/Putnam-Lab/Lab_Management/files/5857673/HOBO.temp.R.docx)

[2021-01-22 18:10] daniellembecker opened #10 "-80 Inventory and Organization"
@daniellembecker and @meschedl  going into lab Wednesday, January 27th, 2:15-5:00 pm

[2021-02-01 17:05] daniellembecker commented on #10
Organized most of the samples brought back from Mo'orea in the -80 silver freezer (E5 molecular coral clipping samples, Danielle EEM molecular coral clipping samples, Ariana coral spawning larval timepoint samples, Danielle coral spawning larval timepoint samples, Kelly July 2019 samples, and some of the E5 coral fragment samples). Detailed information can be found here: https://docs.google.com/sp

[2021-02-01 17:05] daniellembecker commented on #10
All Danielle EEM and E5 endosymbiont samples are in the Environmental Lab Room

[2021-02-03 19:24] daniellembecker opened #11 "RNASeq Workflow: StringTie/prepDE.py Error"
When I was trying to create my gene matrix using the [prepDE.py script](https://github.com/gpertea/stringtie/blob/master/prepDE.py) at the second to last step in my [RNASeq Workflow](https://github.com/hputnam/Becker_E5/blob/master/RNASeq/Becker_RNASeq_Workflow.md) I was receiving an error relating to the transcript ID's in my .gtf files. I opened this issue with the creator of the script [here](h

[2021-02-08 17:07] JillAshey opened #12 "grouping in R"
I'm looking at a NOAA dataset for water temperature in Newport, RI. the data has an observation taken every day every 6 minutes for the entirety of 2013.

| Year | MM | DD | hh | mm | Temp |
|:---- |:------:| -----|:---- |:------:| -----:|
| 2013  | Jan    | 1 | 3 | 6 | 5
| 2013  | Jan    | 1 | 3 | 12 | 5
| 2013  | Jan    | 1 | 3 | 24| 5

Year = 2013
MM = month
DD = day
mm = minutes
Temp = water t

[2021-02-08 22:44] daniellembecker commented on #12
I have not yet done this specifically, but for the large temp data sets I have used, this is a very helpful resource:

https://www.earthdatascience.org/courses/earth-analytics/time-series-data/subset-time-series-data-in-r/

[2021-02-08 22:47] daniellembecker commented on #12
This also seems helpful:

https://stackoverflow.com/questions/29039656/convert-daily-data-into-weekly-in-r-week-starts-on-saturday

[2021-02-08 22:52] daniellembecker commented on #12
https://www.r-bloggers.com/2013/08/plot-weekly-or-monthly-totals-in-r/

[2021-02-11 15:23] daniellembecker commented on #11
Following the issue noticed by gpertea [here ](https://github.com/gpertea/stringtie/issues/317#issuecomment-771143430).

However, gffread -E shows other unrelated potential issues with the way that gff3 file was generated -- for example in some cases novel transcript IDs were generated [EDIT:] incorrectly, not matching the ID referenced by their child (exon) features:

Pver_Sc0000112_size552208	.

[2021-02-11 15:32] JillAshey opened #13 "Issues generating STAR output due to gff naming of transcript IDs"
Attempting to build genome index so that genes can be mapped to reference genome for Pdamicornis. Reference genome and gff file from [Reef Genomics](http://pdam.reefgenomics.org/download/)

[code]

Did not work with this gff, gave me this error:

[code]

Put transcript ID in the gff file by taking it from the ID in the attribute column in R

[code]

This fixed my issue

[2021-03-01 22:18] emmastrand opened #14 "Multiple PCA plots from one prcomp analysis"
I have the below plot (3x2 grid), but I did the analysis for each plot separately (hence the different % values on the axes). If I do all of M.cap in one analysis (see prcomp code below), how could I subset the phases to visualize separately? This way the axis values would be comparable between the 3 plots for each spp. The dataframe Mcap_timeseriesdata has a column with three phases: Acute, Chron

[2021-03-01 22:26] hputnam commented on #14
Extract PC values
Try the following
pca <- prcomp(~ Temperature * CO2 * Time, data = USArrests, scale = TRUE, center=TRUE)

loadings <- pca$rotation

The plot the loadings for your points of interest for particular times or treatments

[2021-03-01 22:31] emmastrand commented on #14
https://github.com/hgreich/ironXtemp/blob/master/Fig_3_S4_S5_METAL_calc_stats_figs.Rmd

[2021-03-01 23:01] emmastrand commented on #14
turns out all I had to do was add facet_grid(~Phase)

`mcap.three <- autoplot(Mcap_scaled_timeseriesdata, data = Mcap_timeseriesdata, colour = 'Treatment',
         loadings = TRUE, loadings.colour = 'black', frame=TRUE, size=0.5, frame.type = 'norm',
         loadings.label = TRUE, loadings.label.size = 3, loadings.label.colour = 'black', loadings.label.vjust=-1) + theme_bw() +
  theme(legend.pos

[2021-03-01 23:32] #14 closed

[2021-03-01 23:33] #9 closed

[2021-03-01 23:35] #7 closed

[2021-03-01 23:35] #1 closed

[2021-03-01 23:36] #4 closed

[2021-03-01 23:38] #13 closed

[2021-03-01 23:43] emmastrand opened #15 "Creating publication-ready tables from any output in R"
I have four separate PERMANOVA results outputs I'd like to put into one table in R and export it nicely. Thoughts?

Danielle had previous put this https://www.rdocumentation.org/packages/sjPlot/versions/2.8.6/topics/tab_model page into slack.

[2021-03-01 23:59] hputnam commented on #14
https://github.com/hputnam/Acclim_Dynamics/blob/master/Scripts/PCA_Plasticity.R

[2021-03-02 01:03] daniellembecker commented on #15
Yes, the tab model function has always been helpful for me! You can also combine multiple output tables for it which is nice.

[2021-03-02 01:05] daniellembecker commented on #15
I use it in this script, you can find the detailed code on line 578-594 if you wanna see :)

[2021-03-15 17:16] emmastrand opened #16 "Connecting lines by factor (or variable) instead of x axis position"
In the below plot I would like the lines to be connected by timepoint (Day 2 to 2 wk to 4 wk to 8 wk to 12 wk). Right now they are connected by the x axis position. How do I switch this? The P. acuta high temperature just happens to have the same x axis position as timepoint so it looks correct.

![CSP-all](https://user-images.githubusercontent.com/37846759/111193433-877f8c00-8590-11eb-81ee-50815b

[2021-03-15 18:56] emmastrand commented on #15
https://haozhu233.github.io/kableExtra/awesome_table_in_html.html

[2021-03-18 02:10] daniellembecker commented on #16
I think this should be helpful: https://www.r-graph-gallery.com/connected-scatterplot.html

[2021-03-19 18:29] daniellembecker commented on #16
https://www.r-graph-gallery.com/267-reorder-a-variable-in-ggplot2.html

I think the fct_relevel() function may be helpful because you can specify the order of your levels so probably would work for line connections.

[2021-03-19 19:38] daniellembecker opened #17 "WGBS Workflow: Scaffolds not sorted in coverage2cytosine bismark step output tab files"
Through our weekly meetings for WGBS workflows and processing, we noticed that in the step where we create a file with positions found in all samples at specified coverage using multiIntersectBed from BEDTools/2.27.1-foss-2018b that our output file that was combining all the tab files (CpG.29samps.10x.bed) did not contain any methylated regions which was not conducive to the amount of coverage in

[2021-03-19 19:45] daniellembecker commented on #17
Workflow test on the two samples (10 and 11) above.

I made sorted test .cov files:

bedtools sort -i 10.CpG_report.merged_CpG_evidence.cov > 10.CpG_report.merged_CpG_evidence_sorted.cov

<img width="559" alt="Screen Shot 2021-03-19 at 3 39 36 PM" src="https://user-images.githubusercontent.com/40968353/111833980-50c7af80-88c9-11eb-97af-87b250e5a0e5.png">

bedtools sort -i 11.CpG_report.merged_CpG_

[2021-03-19 20:02] daniellembecker commented on #17
For our meeting next week:

I will sort all .tab files so that the scaffold order is consistent for every sample.

[2021-03-31 15:32] #17 closed

[2021-04-04 17:08] #12 closed

[2021-04-04 17:08] JillAshey commented on #12
issue closed

[2021-04-04 17:16] JillAshey opened #18 "PR analysis"
Trying to run my PR code:

[code]

### BUT
Getting this error from R when trying to run the last line of code (Map LoLinR function...):

[code]

In this step, I'm trying to fit regressions to each interval for each sample. So the code is having an issue with the regs input? I'm not sure what to make of this error. Has anyone else run into this issue?

[2021-04-04 19:21] hputnam commented on #18
Your code works for each run alone. I think the issue is run number and colony_id. You have repeated Run numbers for each time point and repeated BK colony_ids

[2021-04-05 18:22] #18 closed

[2021-05-03 21:04] daniellembecker opened #19 "RStudio server: processing time/RStudio on desktop has problems for whole-genome bisulfite sequencing data"
I have been having trouble processing large data files that contain genome annotation information and gene ontology terms on my desktop RStudio when running statistical analysis for whole-genome bisulfite sequencing data (runs very slowly and sometimes just shuts down RStudio randomly). @hputnam and I discussed possibly using an RStudio server in the future. Have others seemed to run into this iss

[2021-05-03 21:06] AHuffmyer commented on #19
I would be interested in this - I don't have any insights to share, but would like to help/learn!

[2021-05-03 21:17] hgreich commented on #19
I have used R on the PSU cluster (unsure how this differs from R studio servers) and it helps with longer jobs

[2021-05-03 21:29] SamGurr commented on #19
Hi Danielle - are you working in .md or .R files?  I also have trouble with
Rstudio slowing down specifically if in markdown. To remedy this I have
been running everything in .R programming scripts with 'pseudo chunks'
commented out to eventually convert to markdown later - havent had trouble
with large files this way yet (fingers crossed)

On Mon, May 3, 2021 at 5:17 PM Hannah G Reich ***@***.***

[2021-05-04 18:48] daniellembecker commented on #19
Hi all, thanks for the input! @SamGurr that is super helpful as I am working in .md files! I will try what you suggested, thanks!

[2021-05-04 18:51] hputnam commented on #19
This could also be run in R on the server and downloaded. I believe @echille did this for some of her work.

[2021-05-04 19:16] echille commented on #19
Yes, I've run some large jobs in R on the server! To do that, I saved the data frames that I needed as Rdata and scp'd them to bluewaves where I ran just the chunks of the scripts that were too computationally intensive for my computer to handle. Then I saved the resulting data frames as Rdata again, scp'd them back onto my computer, loaded them back into R, and continued the script from where I l

[2021-08-13 13:55] hputnam commented on #11
@daniellembecker can you confirm resolution details and close if resolved?

[2021-08-13 13:56] #19 closed

[2021-08-13 13:56] #16 closed

[2021-08-13 13:56] #15 closed

[2021-08-14 15:45] hputnam opened #20 "Grads - Update Student Resources Page"
https://github.com/Putnam-Lab/Lab_Management/wiki/Current-Student-Resources

[2021-08-16 13:48] hputnam commented on #20
@kevinhwong1 @echille @emmastrand @SamGurr @dconetta @daniellembecker @JillAshey Can you please look this information over and add content you feel is helpful over the next 2-3 weeks? Thank you!

[2021-08-16 15:19] daniellembecker commented on #20
Sounds good and will work on this later this week @hputnam !

[2021-08-16 15:27] daniellembecker commented on #11
[Polina Shpilker](https://github.com/infispiel) from Tufts edited the Pver_genome_assembly_v1.0.gff3 file to remove the the extra 5_prime_partial and 3_prime_partial columns and reorganize the gene block columns.

See below for steps on fixing the annotation:

Modified annotation file list:

<img width="1093" alt="Screen Shot 2021-08-16 at 10 26 27 AM" src="https://user-images.githubusercontent.co

[2021-08-16 15:32] #11 closed

[2021-08-16 22:59] emmastrand commented on #20
I added what I could about the graduate school forms but what forms are required have changed in between Kevin/Sam's time and mine. And look like they've already changed again post my comps/quals.

[2021-08-20 01:17] daniellembecker opened #21 "Error with hmm search while using KofamScan to map KEGG terms to genome"
Follow step 3: map KEGG terms to a genome in @echille's lab notebook [2020-10-08-M-capitata-functional-annotation-pipeline.md ](https://github.com/echille/E.-Chille-Open-Lab-Notebook/blob/master/_posts/2020-10-08-M-capitata-functional-annotation-pipeline.md) post for general steps and explanations on the beginning of this process.

Also, see @echille GitHub for further [KEGG ontology steps in R](h

[2021-08-20 01:18] #21 closed

[2021-08-23 18:29] daniellembecker commented on #21
If you are still getting an error, make sure to re-download the ko_list.gz as well before re-running

`curl -O ftp://ftp.genome.jp/pub/db/kofam/ko_list.gz | gunzip > ko_list #download and unzip KO database`

Sometimes the gunzip on the end does not work, make sure to check that the ko_list has contents in it. If not, use:

`gunzip ko_list.gz`  in a separate line to properly unzip the gz file.

Aft

[2021-08-24 12:22] hputnam opened #22 "Update Sensaphone for All lab fridges and freezers"

[2021-08-24 18:08] emmastrand opened #23 "Singular fit warning for mixed models: solutions / suggestions ?"
How much have you guys dealt with mixed models that produced a singular fit warning similar to this: `boundary (singular) fit: see ?isSingular` ?

From what I’ve googled it seems like this means the model is over-fitted and the suggestions have been to take out the more complex random factor in your model or switch to a bayesian approach. Do yall have any thoughts on this? I’m working with: (1|Tan

[2021-09-01 19:34] AHuffmyer opened #24 "Problem with GitHub notebook hyperlinks"
I am having troubles with hyperlinks in some of my github notebook posts. Hyperlinks to other notebook posts and protocols work in some entries, but not others and the formatting is the same for all hyperlinks. Has anyone had an issue with links to other webpages or pictures not working?

[2021-09-01 19:36] AHuffmyer opened #25 "GitHub Notebooks: Avatar image works in GitHub "Notebook" tab, but not about "About and CV" tab"
The image avatar shows up on my GitHub notebook main page (https://ahuffmyer.github.io/ASH_Putnam_Lab_Notebook/), but not on any other notebook webpage (entries, CV, etc) (e.g., https://ahuffmyer.github.io/ASH_Putnam_Lab_Notebook/about/). Has anyone experienced this problem?

[2021-09-01 20:56] daniellembecker commented on #25
@AHuffmyer I did run into this issue, I edited the _configure.yml file as you did but I had to put my .png image with a GitHub link, see code below!

`# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar

"https://raw.githubusercontent.com/daniellembecker/DanielleBecker_Lab_Notebook/master/images/Danielle_Becker.png"`

[2021-09-01 21:15] AHuffmyer commented on #25
Thanks @daniellembecker! That solved the issue so that the avatar does stay when I navigate to category/date/tag view pages as well as post pages. Yay! But interestingly, it still is broken on the About/CV page - did you find you had to change the code for that page specifically elsewhere?

[2021-09-01 21:19] daniellembecker commented on #25
Hmm so weird, I don't think you need to, I know that I had to change some things in the https://github.com/daniellembecker/DanielleBecker_Lab_Notebook/blob/master/_layouts/default.html so could see if that misaligns for some reason!

[2021-09-01 21:25] AHuffmyer commented on #25
Thank you so much!

[2021-09-01 21:25] #25 closed

[2021-09-03 19:03] hputnam opened #26 "Update Physiology Protocols for Putnam Lab specific equipment"
Specifically, copy these to Putnam lab management repo and update them for local equipment
[E5](https://github.com/urol-e5/protocols)

[2021-09-07 22:40] AHuffmyer commented on #24
Issue solved! I had a space between the link descriptor and the hyperlink. Fixed once space was removed.

[2021-09-07 22:40] #24 closed

[2021-09-14 09:42] hputnam opened #27 "Sequencing Information Workflow and Database on Github"
data tracking from start to finish

[2021-09-17 14:23] daniellembecker opened #28 "Expression Comparison Meeting: Developing QC step for bioinformatic workflow when we encounter "name space" problems prior to downstream annotation analyses"
All work and notes will be updated in [Danielle's GO Term Enrichment Script](https://github.com/hputnam/Becker_E5/blob/master/RAnalysis/Scripts/RNA-seq/GO_Term_Enrichment_Analysis.Rmd).

**General statement of the problem:**

Danielle encountered naming issues when she was at her final Kegg enrichment analysis when trying to combine her functional annotation file and her KofamScan output Kegg onto

[2021-09-17 16:57] daniellembecker commented on #10
**Goals for the organization of lab fridge/freezer storage; Group: @JillAshey @dconetta @laurenzane @daniellembecker**

**Make our own diagram of fridge/freezer locations in the lab to put here after the lab re-organization**

**Frezeer/fridge list:**

Chest -20, shared PPP; we have a third of it

Upright -20; shared PPP; two rows

4° fridge; shared PPP;

Upright -20; shared PPP;

Putnam: Puritz -

[2021-10-04 12:25] hputnam opened #29 "Add photos and video to the titrator protocol"
https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/Equipment_Protocols/Titrator_Protocols/Titrator_Protocol.md

[2021-10-05 17:31] daniellembecker commented on #29
Added: https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/Equipment_Protocols/Titrator_Protocols/Titrator_Protocol.md

[2021-10-05 17:31] #29 closed

[2021-10-29 16:46] AHuffmyer opened #30 "Add postdoc resources and information to lab management website"

[2021-12-27 14:52] hputnam opened #31 "Lab Inventory"
Inventory the following areas outlined in red:
<img width="1001" alt="Screen Shot 2021-12-27 at 11 02 56 AM" src="https://user-images.githubusercontent.com/5198996/147488349-3ee21d7f-6f08-4b3e-9b54-fa8ffed59d56.png">

and make a QR code to link to the inventory spreadsheet: https://docs.google.com/spreadsheets/d/1_0Qe9gYnuqSAA0Lr24fjMHW3b2HDtKML87l29piD6uM/edit#gid=77700887.

For example: https://

[2021-12-31 00:40] hputnam opened #32 "Update Chlorophyll protocol"
Update chlorophyll extraction and quantification protocol to include all steps to generate data
Update here first for Gump: https://github.com/urol-e5/protocols/blob/master/2020-01-01-Chlorophyll-Protocol.md

Copy to this location as well for URI: https://github.com/Putnam-Lab/Lab_Management/tree/master/Lab_Resources/Physiology_Protocols

Include screen shots and all equipment model and software n

[2022-01-10 15:03] hputnam opened #33 "Add ImageJ surface area extraction protocol"

[2022-01-10 15:30] hputnam commented on #33
add the protocol to this folder please https://github.com/Putnam-Lab/Lab_Management/tree/master/Lab_Resources/Physiology_Protocols

[2022-01-10 19:31] JillAshey commented on #33
updated protocol here: https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/Physiology_Protocols/ImageJ-Analysis-Protocols.md

[2022-01-10 19:31] #33 closed

[2022-01-15 14:59] daniellembecker opened #34 "QR Code Generator Account"
@hputnam make lab-wide QR code generator account on one login.

Navigate to: https://www.qr-code-generator.com/pricing/ and select the 'Get Started' button for the 'Starter' package for $9.99 per month.

<img width="375" alt="Screen Shot 2022-01-15 at 9 59 04 AM" src="https://user-images.githubusercontent.com/40968353/149626369-5b7e5804-801f-4249-938e-963730ab3d1d.png">

[2022-01-15 15:40] daniellembecker commented on #32
Updated chlorophyll protocol up until specific steps with Gen5 software as we will need to do in moorea or lab to get photos of specific steps. https://github.com/urol-e5/protocols/blob/master/2020-01-01-Chlorophyll-Protocol.md

[2022-01-15 15:44] daniellembecker commented on #32
Also added chlorophyll protocol to lab physio page https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/Physiology_Protocols/Chlorophyll-Protocol.md

[2022-01-29 15:00] daniellembecker opened #35 "Make helpful Moorea travel guide and requirements page for lab"
Hi all! I think it would be helpful to work together to make a useful protocol for Moorea planning with all of the numerous links, forms, planning that is necessary for it. It is in the early stages but if anyone is interested and can add helpful resources, advice, or guidance to it over the semester that would be amazing! Thank you!

I plan to work on it while I go through the process this next m

[2022-01-31 16:40] AHuffmyer commented on #35
Sounds great! Happy to contribute.

[2022-01-31 18:10] daniellembecker commented on #35
Thank you!

[2022-02-14 18:32] AHuffmyer opened #36 "Create a tutorial for QC and filtering of TagSeq/RNAseq analysis in Putnam Lab Management"

[2022-06-27 18:46] daniellembecker opened #37 "Apogee Instruments - Underwater Quantum Flux Meter Repair"
Problem with Underwater Quantum Flux Meter - When I was in Mo'orea in April 2022, I noticed that the Apogee Underwater Quantum Flux Meter (Model MQ-510; serial number 1214) was reading ~55 umol m-2 s-1 in complete darkness with the cap on. When I recently turned it on it was reading 0 with the cap on, but when I took the cap off, it was staying at ~1-2 which is still very off of the correct light

[2022-06-27 19:19] hputnam commented on #37
@daniellembecker Can you please get a quote for the repair and ask if we can pay by card or if we need to do a PO? Thank you!

[2022-06-27 19:20] daniellembecker commented on #37
@hputnam will do!

[2022-07-01 14:30] laurenzane opened #38 "Orion meter/probe broken"
This week, I had noticed that the probe for the Orion meter would read "ready" and stabilize, but then quickly decline. After stirring, the reading would come back up to about the original reading but again, would decline. Additionally, the probe would measure the calibration fluid as about 46 psu, when it should read 50 psu.

1. Today, I turned on the Orion meter and it was frozen on the screen w

[2022-07-07 13:37] daniellembecker commented on #37
@hputnam still have yet to hear back, contacting them again for an update.

[2022-07-12 13:51] daniellembecker commented on #37
@hputnam shipped the package on July 12, 2022, to Apogee Instruments for repair.

Tracking number
777360674930

Pickup confirmation number
PVDA-3147

[2022-07-14 20:33] daniellembecker opened #39 "Trident Hardware Issue - Test A Fail Error"
The Trident started to display a Test A Fail Error within the past few months. All troubleshooting options have been exhausted by @laurenzane @daniellembecker and Pierrick to troubleshoot and fix the issue on our own. We referenced the comprehensive [Neptune Trident Troubleshooting Guide](https://www.neptunesystems.com/getstarted/trident/troubleshooting/) to assist us with every possible option to

[2022-07-14 20:43] daniellembecker commented on #39
Update: @daniellembecker sent an email to Morgan/Neptune Systems with the required information to begin a return merchandise authorization (RMA) for whichever option we choose to move forward with.

[2022-07-17 17:26] daniellembecker commented on #39
Update: Neptune customer support has suggested we need to service and repair our Trident. There are multiple options with various costs on their [Trident Service Program](https://www.neptunesystems.com/tridentservice/) page. @hputnam if you don't mind looking over which option you prefer then a service form can be filled out

[2022-07-18 10:19] hputnam commented on #39
Please do the Send and Trident Service. Thank you!

[2022-07-18 10:21] hputnam commented on #38
@laurenzane is this still an issue?

[2022-07-18 10:23] hputnam commented on #35
@daniellembecker can you do this as you prep for this next trip?

[2022-07-18 10:25] hputnam commented on #32
@daniellembecker @AHuffmyer can you please update this to include how to handle the waste and the details of the path length correction?

[2022-07-18 10:26] hputnam commented on #30
@AHuffmyer do you want to spend some time on this together in a meeting soon?

[2022-07-18 15:47] AHuffmyer commented on #30
Yes! Adding it to our agenda for one of our next couple of meetings.

[2022-07-18 15:49] AHuffmyer commented on #36
I don't have a notebook post on QC. It would be a great group exercise if there are a few people with TagSeq datasets.

[2022-07-18 15:49] AHuffmyer commented on #32
@daniellembecker I'll add path length corrections if you are able to add waste disposal.

[2022-07-18 16:45] daniellembecker commented on #32
@AHuffmyer great, thank you!

[2022-07-18 16:51] hputnam commented on #39
[20220718_neptune_systems.pdf](https://github.com/Putnam-Lab/Lab_Management/files/9133792/20220718_neptune_systems.pdf)

[2022-07-18 18:25] laurenzane commented on #38
No, I will close it. The Orion probe is working as expected now with new calibration fluid.

[2022-07-18 18:25] #38 closed

[2022-07-19 19:49] daniellembecker commented on #39
I filled out the RMA form [RMA_Trident.pdf](https://github.com/Putnam-Lab/Lab_Management/files/9144095/RMA_Trident.pdf)from Neptune and created a FedEx shipping label. Sent out today for two-day shipping, arriving at Neptune on July 21st.

Tracking number
777428533054

Pickup confirmation number
PVDA-3332

[2022-07-20 07:53] hputnam opened #40 "Certified Traceable Digital Thermometer Repair"
Here is the company information for our probes/meters:
https://www.traceable.com/6412-traceable-platinum-ultra-accurate-digital-thermometer.html

@laurenzane @JillAshey document the issues here along with the catalog numbers of the meters so we can get the 3 meters repaired or get replacement probes

[2022-07-20 14:24] hputnam opened #41 "Dry Shipper Losing Charge in 24 hours"

[2022-07-22 19:18] hputnam opened #42 "Acropora Sample Shipping"
Aliquot and send samples to DNALink for total RNA and small RNA. I will add details below. https://www.dnalink.com/us/service/sampleRequirement.html

[2022-07-24 17:14] hputnam opened #43 "Update Coral Fragment Database"
https://github.com/Putnam-Lab/Lab_Management/tree/master/Lab_Resources/CBLS_Wetlab/CBLS_Coral_Database

https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/CBLS_Wetlab/CBLS_Coral_Database/CBLS_WaterTables_Coral_Database.csv

[2022-07-25 22:41] hputnam opened #44 "Add Salinity Probe Calibration Protocol"
https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/CBLS_Wetlab/CBLS_Wetlab_Protocols/20201110_CBLS_WaterQuality_Checklist.Md

[2022-07-26 14:32] laurenzane commented on #44
https://github.com/Putnam-Lab/Lab_Management/blob/master/Lab_Resources/Equipment_Protocols/Orion_MultiParameter_Sensor_Protocol.md

Orion Multiparameter Sensor Protocol updated with Salinity probe calibration 7/26/22 LZ

[2022-07-26 14:32] #44 closed

[2022-07-26 18:04] AHuffmyer commented on #30
Added postdoc resources section, issue closed

[2022-07-26 18:04] #30 closed

[2022-07-29 16:51] hputnam commented on #20
@laurenzane @kevinhwong1 please check all links are active and update any information you think is relevant

[2022-07-29 16:52] hputnam commented on #22
Solder new probes for any fridge or freezer that does not contain one and run wires on walls

[2022-07-29 16:54] hputnam commented on #26
move md protocol files from E5 and update as needed for URI equipment

[2022-07-29 16:54] #28 closed

[2022-07-29 16:57] hputnam commented on #35
Please complete this by Sept 1

[2022-07-29 17:11] hputnam commented on #31
@PierrickHarnay inventory and organize Red Storage Shelf (Putnam lab shelves only)

[2022-07-29 17:12] hputnam commented on #31
@laurenzane inventory and organize wooden shelf by lab door next to large silver sink

[2022-07-29 17:15] hputnam commented on #31
@JillAshey please inventory and organize the CBLS storage shelves

[2022-07-30 00:55] daniellembecker opened #45 "Presens OXY-10 ST (G2) USB cable issue"
In July 2022, Danielle Barnas noticed that when the OXY-10 USB connection cable was plugged into the laptop it was having issues. With even a slight bump to the table or movement of the OXY-10 or laptop, the USB cable would randomly disconnect during a run from the Presens Software/the OXY-10 itself (it would make the dinging noise indicating a loss of connection and reconnection with the computer

[2022-07-30 18:03] hputnam commented on #45
@daniellembecker Attached is the order information.
Check to see if this happens on multiple USB ports and multiple computers.
Take pictures of the ends of the cables.
Take Pictures of the cable port on the Presens.
Then please contact Presens to ask their thoughts on the problem with that information in hand.
[Quotation 2017-30300_Univ RI_OXY-10ST.pdf](https://github.com/Putnam-Lab/Lab_Management

[2022-07-30 19:15] daniellembecker commented on #45
@hputnam the cable has been checked on multiple computers (Danielle's, Hendrikje's, and the Putnam surface) all having the same issue. I have taken the photos and will contact Presens with this information. Thank you!

[2022-07-31 12:20] hputnam commented on #45
Cable and Unit Photos 20220730

![IMG_8173](https://user-images.githubusercontent.com/5198996/182026065-478d6484-4da8-4b8d-b295-8020279efc29.jpg)
![IMG_8172](https://user-images.githubusercontent.com/5198996/182026066-6d681633-c3d3-440f-a165-d77434e7e138.jpg)
![IMG_8174](https://user-images.githubusercontent.com/5198996/182026069-010ed6cf-5cbe-4f61-be41-f5da951a8c6b.jpg)
![IMG_8176](https://user-i

[2022-07-31 12:37] hputnam commented on #31
[Lab Inventory](https://docs.google.com/spreadsheets/d/1_0Qe9gYnuqSAA0Lr24fjMHW3b2HDtKML87l29piD6uM/edit#gid=0)

[2022-08-01 15:13] hputnam commented on #42
[Acropora_Samples_for_DeepDive.csv](https://github.com/Putnam-Lab/Lab_Management/files/9235017/Acropora_Samples_for_DeepDive.csv)

@Kterpis Can you please prepare these samples for shipping and order dry ice to ship this week? Thanks!

[2022-08-02 09:05] hputnam commented on #41
original purchase information @JillAshey <Qte  201008_0747113 HPutnam shipper 10-8-2020.pdf>

[2022-08-02 09:10] hputnam commented on #41
Customer Service Contact - https://www.thermofisher.com/us/en/home/technical-resources/contact-us.CY50910.html?supportType=SL

[2022-08-02 14:12] JillAshey commented on #41
Case #: 04632650.

Communicating with returns department, they will be sending a replacement shipper covered by our warranty. Our warranty on this shipper expires at the end of August.

[2022-08-03 21:48] daniellembecker commented on #45
@hputnam PreSens recommended sending in the OXY-10 in for service but I explained how it is in a remote area so I figured that would not be an option at the moment so they responded with:

Hi Danielle,

Then we would recommend you to try it purchasing a new USB-cable.
The fastest way for you would be if you purchase the cable directly.
Below you can find some information of the USB-cable we use:
U

[2022-08-11 17:40] JillAshey commented on #41
New dry shipper (covered under warranty) arrived 8/10/22.

Information about our case with ThermoFischer:
WARRANTY- RA934349- PO 806163- STATE OF RHODE ISLAND MASTER- CASE 04632650 [ ref:_00D606yt2._5004z1g6EOB:ref ]

[2022-08-15 15:02] JillAshey commented on #41
New shipper also appears to be broken. It doesn't hold a charge and a large amount of frost/condensation builds up on the lid and the sides. Called Tech Support and they are sending a technician out to look at it (date TBD, Jill will meet him). New case # is 4655429.

[2022-08-17 00:03] emmastrand commented on #26
These protocols have been copied and edited. Additional details would be helpful - like photos of our equipment in the Putnam Lab and any edits lab members have made to their samples (i.e. adult tissue vs eggs).

[2022-08-17 00:15] hputnam commented on #26
@emmastrand can you keep this open and assign people to add specific equipment photos, etc??

[2022-08-17 16:51] emmastrand commented on #26
Yes! I'll take photos of the equipment when I'm back in September since I'm not sure if anyone is actively using these protocols until then.

[2022-08-19 17:40] AHuffmyer opened #46 "Add protocol for submitting travel authorization requests and travel expense reports to the Wiki"
Update and add detailed information on TAR and TER's here: https://github.com/Putnam-Lab/Lab_Management/wiki/Travel-Information

[2022-08-20 02:16] hputnam commented on #42
Samples were received at DNALink Korea confirmed by Jay Leet on 8/16. Waiting for DNALink to finalize info for UW PO

[2022-08-20 02:16] #42 closed

[2022-08-20 02:21] hputnam commented on #39
Repaired Trident arrived URI 8/4/22. @daniellembecker @laurenzane can you please set this up next to the other one and test it? Then we will move it to the quarantine tank once we have cross compared it with the other Trident.

[2022-08-20 02:21] hputnam commented on #37
@daniellembecker can you check in with Apogee for an update?

[2022-08-20 04:10] daniellembecker commented on #37
@hputnam yes, I will send an email

[2022-08-20 04:11] daniellembecker commented on #39
@hputnam I can do this Monday when I go in

[2022-08-22 19:46] hputnam commented on #43
@laurenzane please update this database this week to the best of your ability by reconstructing the database from the lab notebook of when fragmentation took place. We want to have every coral tagged and tracked

[2022-08-22 19:48] laurenzane commented on #31
Hi everyone! I organized the shelf area today and the drawer and took out a bunch of miscellaneous items. Please take a look and see where things can be rehomed.

[2022-08-22 19:50] hputnam commented on #31
@laurenzane please post a picture of what does not fit there anymore and needs to be moved

[2022-08-23 17:00] AHuffmyer commented on #40
@laurenzane @JillAshey what is the status of this repair?

[2022-08-23 19:05] AHuffmyer commented on #40
Also please post the specific issue you are having with each meter (identified by SSN) so we can order the correct parts. Thank you!

[2022-08-25 16:13] laurenzane commented on #40
**Digital thermometer and probe pairs:**
(Cat. no. 4000 NIST Traceable® Digital Thermistor Thermometer, -58 Degrees to 302 Degrees F)[https://www.traceable.com/4000-traceable-digital-thermometer.html) => [cat. no. 4111 replacement probe] (https://www.traceable.com/4111.html)
[Cat. no. 6412 Platinum Ultra-Accurate Digital Traceable Thermometer](https://www.traceable.com/6412-traceable-platinum-ultr

[2022-08-25 18:33] daniellembecker commented on #37
Received an update on our Apogee meter on August 22:

"Hi Danielle,

Thank you for your patience regarding the repairs to your meter.  I have attached a quote on repairs to this email.  There is extensive corrosion on the internal circuit board especially around the battery cradle.  I have unfortunately been unable to recreate the micromole readings with the sensor capped.  My best bet is that the

[2022-08-25 20:53] laurenzane commented on #39
I opened the old Trident on Tuesday, August 25th and reagent B was missing the uptake tube. I called Neptune Systems on 8/25 and they agreed to send us a new one for free. A correction to a comment above, the help line for an already started issue is first 1 for technical support and **2** if you already have a ticket. I will update this again when the tube comes in and I can set up the Trident in

[2022-08-25 23:25] daniellembecker commented on #39
Sounds good, thank you. Glad they are sending a new one soon. Edited the comment above!

[2022-08-29 21:21] hputnam commented on #37
Tracking for repaired Apogee -

1Z78A7E60345060681

[2022-08-31 21:56] JillAshey commented on #40
2 new 4111 probes were received today.

Hollie cleaned the rice out of the the traceable digital thermometer 4000 (serial number not visible) that was dropped in seawater. It got paired with a new 4111 probe (SSN: 221702482). This set will stay at URI. Labeled as Probe #1.

A new 4111 probe (SSN: 221720464) was paired with the traceable digital thermometer 4000 (SSN: 2000390599), which had already

[2022-09-01 16:01] JillAshey commented on #40
CURRENT PROBE LOCATIONS:
Probe # 1 = on 3rd shelf of wooden bookshelf next to the door in CBLS 190.
Probe # 2 = Will be going to Moorea for fall 2022. When it returns, it will go on the 3rd shelf of wooden bookshelf.
Probe # 3 = in a hard blue case on 1st shelf of wooden bookshelf.
Probe # 4 = in CBLS aquarium room.

ThermoFischer thermometer is at the titration station.

[2022-09-01 16:01] #40 closed

[2022-09-01 16:04] daniellembecker commented on #45
8/30 - 5 replacement cables for the OXY10 - computer connection arrived. Hollie put one on the To Moorea pile and 4 on the wooden bookshelf by the door

[2022-09-01 16:04] #45 closed

[2022-09-15 15:48] hputnam commented on #27
https://docs.google.com/spreadsheets/d/1qDGGpLFcmoO-fIFOPSUhPcxi4ErXIq2PkQbxvCCzI40/edit#gid=0

[2022-09-15 18:57] JillAshey commented on #37
Apogee has been repaired and is on the brown bookshelf in the lab

[2022-09-15 18:57] #37 closed

[2022-09-15 19:02] hputnam commented on #27
https://github.com/Putnam-Lab/Lab_Management/blob/master/Bioinformatics_%26_Coding/Data_Mangament/next_gen_data_managment.md

[2022-09-15 19:10] hputnam opened #47 "SRA and Genbank uploads for all sequence data"

[2022-09-15 19:10] hputnam commented on #47
https://docs.google.com/spreadsheets/d/1qDGGpLFcmoO-fIFOPSUhPcxi4ErXIq2PkQbxvCCzI40/edit#gid=0

[2022-09-15 19:11] hputnam commented on #47
https://github.com/Putnam-Lab/Lab_Management/tree/master/Bioinformatics_%26_Coding/Data_Mangament

[2022-09-15 19:29] hputnam commented on #39
lauren requested the tube and it was sent to URI and the Trident is now working

[2022-09-15 19:29] #39 closed

[2022-09-15 19:32] daniellembecker opened #48 "Find Samples: Danielle Gametogenesis December 2021 Coral Fragments"
@AHuffmyer and @hputnam brought back [40 *Acropora pulchra* coral fragments](https://docs.google.com/spreadsheets/d/1u9gLNfd8ST6nS-mfmSRsSJaJhBCr6cUjaDz5UzOgm58/edit#gid=0) for Danielle from the first timepoint (December 2021) of the Gametogenesis monthly time series in December 2021 to URI. Hollie mentioned they were in a mesh bag in the J -80 freezer. They have yet to be found in the lab after D

[2022-09-15 19:34] hputnam commented on #41
Another New Shipper was sent. Jill Ashey requested a new one and tested it. It has held charge for at least 48hours.  @JillAshey please label this one as Shipper #2 and the original working one as Shipper #1
@JillAshey please track the total time Shipper #2 holds a charge

[2022-09-15 20:30] JillAshey commented on #41
All shippers are labeled. Working shippers are # 1 and # 2, defective shippers are # 3 and # 4.

[2022-09-29 18:28] AHuffmyer opened #49 "Establish metadata standards for SRA uploads with individual accounts"
Decide on metadata and project description information for SRA uploads from individual accounts to link back to lab projects.

[2022-09-29 18:30] AHuffmyer opened #50 "Find out how to get approval for intellectual property for sequences in Moorea"
Find out if we need to seek approval to publish sequences from Moorea under intellectual property

[2022-10-06 18:20] AHuffmyer commented on #49
@emmastrand and I talked about adding sequences to E5 projects. If we do this, we would need to discuss which types of sequences (e.g., ITS2, 16S, TagSeq) got to which E5 project.

[2022-10-06 18:21] AHuffmyer commented on #50
This appears to be covered under the Access to Biological Resources. Confirming with CRIOBE folks.

[2022-11-15 15:32] AHuffmyer commented on #50
covered under the APA

[2022-11-15 15:32] #50 closed

[2022-11-15 15:33] AHuffmyer commented on #47
Confirmed Mcap2020 ITS2, 16S, and TagSeq sequences uploaded to SRA with metadata added to our lab sequencing inventory. Project PRJNA900235

[2022-11-15 15:35] AHuffmyer commented on #49
To do this we can provide a couple pieces of information when we submit. 1) include the Putnam Lab lab website link as the university webpage when filling out user information and 2) Specify that libraries were prepared in the Putnam Lab in the description of SRA metadata files

[2022-11-15 15:35] #49 closed